@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
	font-family: 'Ubuntu', sans-serif;
}

div#container {
	margin-bottom: 30px;
	.user {
		padding: 10px;
		border: 1px solid gray;
		float: left;
		margin-right: 10px;
		border-radius: 3px;
		button {
			margin-top: 15px;
		}
	}
}
